# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# production
/build

# database
*.db
*.db-journal

# python backend
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc

# env / secrets
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
.idea/

# prisma generated client
/node_modules/.prisma

.vercel
